.group5 {
    height: 800px;
    background-image: url('/img/23.png'), url('/img/08.png');
    background-repeat: no-repeat;
    background-size: 100% 600px, 100% 200px;
}
.group5__conteiner {
    padding: 130px 0 0 120px;
    width: 1300px;
}
.group5__content {
    display: inline-block;
}
.group5_title {
    color: #ffc200;
    font-family: 'Grand Hotel';
    font-size: 100px;
    padding: 0 0 55px 0;
}
.group5__text {
    color: white;
    font-size: 30px;
    width: 500px;
    padding: 0 0 70px 0;
}
.group5__button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    border: 0px solid #ffc200;
    width: 250px;
    text-align: center;
    padding: 12.5px;
    background: #ffc200;
    color: #333;
    border-radius: 5px;
}
.group5__button:hover{
    background: #b68c06;
    transition: .3s;
}
.group5__img {
    display: inline;
    padding:  0 0 0 120px;
}