.group_5 {
    height: 800px;
    background-image: url('/img/23.png'), url('/img/08.png');
    background-repeat: no-repeat;
    background-position: -90px -350px;
}
.group_5__conteiner {
    padding: 150px 0 0 120px;
    width: 1300px;
}
.group_5__content {
    display: inline-block;
}
.group_5_title {
    color: #ffc200;
    font-family: 'Grand Hotel';
    font-size: 100px;
    padding: 0 0 55px 0;
}
.group_5__text {
    color: white;
    font-size: 30px;
    width: 500px;
    padding: 0 0 70px 0;
}
.group_5__button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    border: 0px solid #ffc200;
    width: 250px;
    text-align: center;
    padding: 12.5px;
    background: #ffc200;
    color: #333;
    border-radius: 5px;
}
.group_5__button:hover{
    background: #b68c06;
    transition: .3s;
}
.group_5__img {
    display: inline;
    padding:  0 0 0 120px;
}